
@media screen and (max-width: 1200px) {
    .component {
        height: 170px;
    }

    .component-name{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    #conversion-comp .component {
        height: 200px;
        width: auto;
    }

    .component-name{
        font-size: 1.5em;
    }

    .App #conversion-comp {
        flex-direction: column;
    }
}

#conversion-comp {
    background: var(--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
}

.component {
    text-align: center;
    margin: 10px;
    width: 512px;
    height: 200px;
    background: var(--lightcolor1);
    border-radius: 10px;
}

.input-comp{
    /* display: inline-block; */
    /* margin-top: 20px; */
    width: 80%;
    height: 50px;
    border: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.input-comp:focus{
    outline: none;
}

/* + is selecting an element right after another - sibling*/
.input-comp + span{
    margin: auto;
    width: 80%;
    display: block;
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 50px; 
    border-bottom: 3px solid var(--lightcolor2);
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}
.input-comp:focus + span{
    transform: scaleX(1);
}

.error-outline {
    box-shadow: 0 0 .2em 1px var(--errorcolor1);
    /* animation: red-glow 1s alternate ease-in-out infinite; */
}

@keyframes red-glow {
    from {
        box-shadow: 0 0 .2em 0px var(--errorcolor1);
    }
    to {
        box-shadow: 0 0 .3em 0px var(--errorcolor1);
    }
}

.helpTip {
    animation: displayTip .25s ease-in-out forwards;
}

@keyframes displayTip {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.how-to-buttons button {
    color: var(--lightcolor3);
    width: 40%;
    margin-top: 4px;
    font-size: medium;
}

.button-disabled {
    background-color: var(--lightcolor2);
}