
@media screen and (max-width: 1200px) {
    .component {
        height: 170px;
    }

    .component-name{
        font-size: 1.5em;
    }
}

#conversion-comp {
    background: var(--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    margin: 300px 10px 0 10px;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes elevateBoxes {
    from {
        margin-top: 300px;
    }
    to {
        margin-top: 10px;
    }
}

.component {
    text-align: center;
    margin: 10px;
    width: 512px;
    height: 200px;
    background: whitesmoke;
    border-radius: 10px;
}

.input-comp{
    /* display: inline-block; */
    /* margin-top: 20px; */
    width: 80%;
    height: 50px;
    border: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.input-comp:focus{
    outline: none;
}

/* + is selecting an element right after another - sibling*/
.input-comp + span{
    margin: auto;
    width: 80%;
    display: block;
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 50px; 
    border-bottom: 3px solid gray;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}
.input-comp:focus + span{
    transform: scaleX(1);
}