
@media screen and (max-width: 1200px) {
    @keyframes dropdownBody {
        from {
            max-height: 0px;
        }
        to {
            max-height: 3000px;
        }
    }

    @keyframes dropdownButtons {
        from {
            height: 0px;
        }
        to {
            height: 30px;
        }
    }

    #toNotation-buttons button{
        font-size: 30px;
    }

    .instruction, .instruction-selected {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 800px) {
    .display #toNotation-buttons button{
        font-size: 30px;
    }
    
    #body {
        flex-direction: column;
    }

    #body .canvas {
        width: 95%; /* This keeps from canvas spilling over when in mobile */
    }
    
    #body .algorithm-display {
        width: 100%;
    }
}

.display {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    padding-top: 5%;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    overflow: auto;
}

#content {
    position: relative;
    background-color: var(--primary-color);
    margin: auto;
    padding: 0;
    width: 90%;
    overflow: hidden;
}

#body {
    display: flex;
}

#header {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

#header button {
    color: var(--lightcolor3);
    width: 5%;
    font-size: medium;
}

@keyframes dropdownBody {
    from {
        max-height: 0px;
    }
    to {
        max-height: 5000px;
    }
}

.algorithm-display {
    
    background-color: var(--darkcolor2);
    margin: 10px;
    height: 100%;
    /* height: 90%; */
    width: 40%;
    border-radius: 10px;
}

.canvas {
    background-color: 133337;
    margin: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.canvas > button {
    height: 10%;
    width: 50%;
    margin: 20px auto;
    font-weight: 600;
    font-size: 50px;
    border: none;
    color: var(--lightcolor3);
    background-color: var(--alt-color);
}

.canvas > button:hover {
    background-color: var(--activity-color);
}

.canvas.player {
    background-color: var(--alt-color);
}

#toNotation-buttons {
    display: flex;
    height: auto;
    overflow: hidden;
}

#toNotation-buttons {
    animation-duration: .25s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-name: dropdownButtons;
}

@keyframes dropdownButtons {
    from {
        height: 0px;
    }
    to {
        height: 50px;
    }
}

#toNotation-buttons button{
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
    width: 50%;
    color: var(--lightcolor3);
    font-weight: 600;
    font-size: 40px;
}

.instruction {
    background-color: var(--instruction-color-1);
    padding: 3px 10px;
    color: var(--lightcolor3);
}

.instruction-selected {
    background-color: rgb(76, 124, 124);
    padding: 3px 10px;
    color: var(--lightcolor3);
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse{
    0%, 100%{
        background-color: var(--pulseON);
    }
    50%{
        background-color: var(--pulseOFF);
    }
}

.instruction:nth-child(even) {
    
    background-color: var(--instruction-color-2);
}

@media screen and (max-width: 1200px) {
    #header button {
        width: 50%;
    }

    #header {
        justify-content: center;
    }
}
