.display {
    /* position: absolute; */
    background-color: #133337;
    margin: 10px;
    /* height: 70%; */
    border-radius: 10px;
    /* overflow: auto; */
}

#body {
    display: flex;
    overflow: hidden;
    max-height: 0px;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: .25s;
    animation-fill-mode: forwards;
}

@keyframes dropdownBody {
    from {
        max-height: 0px;
    }
    to {
        max-height: 5000px;
    }
}

.algorithm-display {
    
    background-color: dimgray;
    margin: 10px;
    height: 100%;
    /* height: 90%; */
    width: 40%;
    border-radius: 10px;
}

.canvas {
    background-color: 133337;
    margin: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.canvas button {
    height: 10%;
    width: 50%;
    margin: 20px auto;
    font-weight: 600;
    font-size: 50px;
    border: none;
    color: white;
    background-color: #1a484e;
}

.canvas button:hover {
    background-color: #205961;
}

.canvas.player {
    background-color: cyan;
}

#toNotation-buttons {
    display: flex;
    height: auto;
    overflow: hidden;
}

#toNotation-buttons {
    animation-duration: .25s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-name: dropdownButtons;
}

@keyframes dropdownButtons {
    from {
        height: 0px;
    }
    to {
        height: 50px;
    }
}

#toNotation-buttons button{
    text-align: center;
    border: none;
    text-decoration: none;
    background-color: #1a484e;
    margin: 0 auto;
    padding: 5px 0;
    width: 50%;
    border-radius: 20px;
    outline-width: 0;
    color: white;
    font-weight: 600;
    font-size: 40px;
}

#toNotation-buttons button:focus {
    background-color: #133337;
}

#toNotation-buttons button:hover{
    background-color: #205961;
}

.instruction {
    background-color: darkslategrey;
    padding: 3px 10px;
    color: white;
}

.instruction-selected {
    background-color: rgb(76, 124, 124);
    padding: 3px 10px;
    color: white;
}

.instruction:nth-child(even) {
    
    background-color: rgb(37, 59, 59);
}
