#progressBar{
    display: flex;
}

#playBtn {
    margin-right: 5px;
    margin-bottom: 5px;
}

.slideContainer {
    width: 100%;
    margin-bottom: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    background-color: var(--alt-color);
    outline: none;
    border-radius: 3px;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 50px;
    background: var(--lightcolor1);
    cursor: pointer;
    border-radius: 3px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 100px;
    background: var(--instruction-color-1);
    cursor: pointer;
}