.player{
    background-color: white;
    height: 100%;
    flex-direction: column;
    text-align: center;

    /* Position relative in order to have children to be absolute positioned */
    position: relative;
}

.contentBox {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 10px;
    overflow: visible;
}


#tokens {
    /* Position is relative to calculate position for token cursor */
    position: relative;  
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 800px;
    min-width: 300px;
    height: 50px;
    background-color: lightgray;
    border-radius: 10px;
}


.inputtoken {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    width: auto;
    margin-left: 10px;
}

#tokenCursor {
    background: url(../../imgs/chevron-arrow-up.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    position: relative;
    height: inherit;
    top: 0;
    right: 0;
    opacity: 0;
    transition-property: left, opacity;
    transition: 1s;
    animation: hoverCursor 1s ease-in-out;
    animation-iteration-count: infinite;
}

.animatedToken {
    transition-property: left, top;
    transition: 1s;
}

@keyframes hoverCursor {
    0%, 100% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0px);
    }
}

#structures {
    margin-top: 80px;
    height: auto;
    display: inline-flex;
}

#stack {
    width: 50px;
    min-height: 140px;
    height: auto;
    margin-top: auto;
    border: 5px solid black;
    border-top-color: white;
    margin-right: 20px;
    display: flex;
    flex-direction: column-reverse;
    transition-property: height;
    transition: 1s ease-in-out;
}

.stacktoken {
    font-size: 35px;
    font-weight: 600;
}

#output {
    display: inline-block;
    margin-top: 150px;
    width: auto;
    min-width: 300px;
    max-width: 800px;
    height: 50px;
    border-bottom: 5px solid black;
    border-radius: 10px;
    margin-left: 20px;
}

.outputtoken {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    width: auto;
    padding-left: 10px;
}

#helpWindow {
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: auto;
    min-height: 60px;
}

#helpWindow > div {
    font-size: 30px;
}

.helpItem {
    display: inline;
    font-size: 40px;
    margin: 0 5px;
    font-weight: bold;
}