
@media screen and (max-width: 1200px) {
  #progressBar #playBtn {
    width: 40px;
    height: 40px;
  }

  .toolbarBtn {
    width: 30%;
    height: 50%;
    margin: 10px 20px;
  }

  .toolbarBtn > * {
    width: 20%;
    height: 20px;
  }
}

#playBtn {
    width: 50px;
    height: 50px;
}

#playerToolbar {
  height: 60px;
  background-color: var(--lightcolor3);
  display: flex;
  justify-content: center;
}

.toolbarBtn {
  width: 25%;
  margin: 10px 20px;
}

.toolbarBtn > * {
  width: 25%;
  height: 25px;
}

.disableBtn {
  background-color: var(--lightcolor2);;
}