
@media screen and (max-width: 1200px) {
  .App-content #app-title {
    font-size: 70px;
    text-align: center;
    margin: 5px 5px 20px 5px;
  }

  .App-content #app-desc {
    margin: 0 25px 25px 25px;
  }
}

@media screen and (max-width: 600px){
  #root .App-content {
    top: 0%;
    transform: translateY(0%);
    position: relative;
  }

  .App-content #app-title {
    font-size: 50px;
    text-align: center;
    margin: 5px;
  }

  .App-content #app-desc {
    font-size: 20px;
    font-weight: normal;
    margin: 0 25px 25px 25px;
    color: var(--lightcolor3);
    text-align: center;
  }
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
}

.App {
  position: relative;
  min-height: 100vh;
}

.App-content {
  height: inherit;
  /* position: absolute; */
  /* top: 50%; */
  width: 100%;
  height: auto;
  /* transform: translateY(-60%); */
  animation-timing-function: ease-in-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  padding-bottom: 4.5rem;
}

@keyframes elevateBoxes {
  from {
      top: 50%;
      transform: translateY(-60%);
  }
  to {
      top: 0%;
      transform: translateY(0%);
      position: absolute;
  }
}

h1 {
  color: rgba(53, 53, 53, 0.986);
}

a {
  color: var(--ligher-secondary-color);
}

button {
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  background-color: var(--alt-color);
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: var(--activity-color);
}

svg {
  fill: white;
}

#app-title {
  font-size: 70px;
  margin: 0;
  margin-left: 100px;
  color: var(--lightcolor3);
  transition-property: font-size, margin;
  transition-duration: .5s;
}

#app-desc {
  font-size: 20px;
  font-weight: normal;
  margin: 0 100px 25px 100px;
  color: var(--lightcolor3);
  text-align: justify;
}

.footer {
  height: 2.5rem;
  width: 100%;
  bottom: 2rem;
  position: absolute;
}

.footer > div {
  box-shadow: inset 0px 4px 15px -2px var(--darkcolor1);
  color: var(--lightcolor3);
  height: 100%;
  background-color: var(--darker-secondary-color);
  padding: 1rem;
  text-align: center;
}

:root{
  --primary-color: #133337;
  --secondary-color: #143c41;
  --darker-secondary-color: #0d272b;
  --ligher-secondary-color: #2b7983;
  --alt-color: #1a484e;
  --activity-color: #205961;
  --instruction-color-1: darkslategrey;
  --instruction-color-2: rgb(37, 59, 59);

  --pulseON: rgb(76, 124, 124);
  --pulseOFF: rgb(97, 151, 151);

  --lightcolor1: whitesmoke;
  --lightcolor2: gray;
  --lightcolor3: white;
  --lightcolor4: lightgray;
  --lightcolor5: rgb(211, 211, 211);
  --lightcolor6: rgb(228, 228, 228);

  --darkcolor1: black;
  --darkcolor2: darkgray;

  --errorcolor1: red;
}