
@media screen and (max-width: 600px){
  #root .App {
    top: 0%;
    transform: translateY(0%);
  }

  .App #app-title {
    font-size: 50px;
    text-align: center;
    margin: 5px;
  }
}

html {
  height: 100%;
  background-color: var(--secondary-color);
}

.App {
  height: inherit;
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translateY(-70%);
  animation-timing-function: ease-in-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes elevateBoxes {
  from {
      top: 50%;
      transform: translateY(-70%);
  }
  to {
      top: 0%;
      transform: translateY(0%);
  }
}

h1 {
  color: rgba(53, 53, 53, 0.986);
}

button {
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  background-color: var(--alt-color);
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: var(--activity-color);
}

svg {
  fill: white;
}

#app-title {
  font-size: 100px;
  margin: 0 0 25px 100px;
  color: var(--lightcolor3);
  transition-property: font-size, margin;
  transition-duration: .5s;
}

:root{
  --primary-color: #133337;
  --secondary-color: #143c41;
  --alt-color: #1a484e;
  --activity-color: #205961;
  --instruction-color-1: darkslategrey;
  --instruction-color-2: rgb(37, 59, 59);

  --pulseON: rgb(76, 124, 124);
  --pulseOFF: rgb(97, 151, 151);

  --lightcolor1: whitesmoke;
  --lightcolor2: gray;
  --lightcolor3: white;
  --lightcolor4: lightgray;
  --lightcolor5: rgb(211, 211, 211);
  --lightcolor6: rgb(228, 228, 228);

  --darkcolor1: black;
  --darkcolor2: darkgray;
}