
html {
  height: 100%;
  background-color: var(--secondary-color);
}

h1 {
  color: rgba(53, 53, 53, 0.986);
}

button {
  cursor: pointer;
}

:root{
  --primary-color: #133337;
  --secondary-color: #143c41;
  --alt-color: #1a484e;
  --activity-color: #205961;
  --instruction-color-1: darkslategrey;
  --instruction-color-2: rgb(37, 59, 59);

  --pulseON: rgb(76, 124, 124);
  --pulseOFF: rgb(97, 151, 151);

  --lightcolor1: whitesmoke;
  --lightcolor2: gray;
  --lightcolor3: white;
  --lightcolor4: lightgray;
  --lightcolor5: rgb(211, 211, 211);
  --lightcolor6: rgb(228, 228, 228);

  --darkcolor1: black;
  --darkcolor2: darkgray;
}