body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: absolute;
  width: 100%;
  top: 30%;
  animation-timing-function: ease-in-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes elevateBoxes {
  from {
      top: 30%;
  }
  to {
      top: 0%;
  }
}